/integration/
/common/target/
/ingest-rest/target/
/ingest-rest/integration/
/tokenizer/target/
/replication-shell/target/
/rest-common/target/
/rest-models/target/

# Rest Entities also needs generated code to be excluded
# It's all kotlin so can ignore the java directory
/rest-entities/target/
/rest-entities/src/main/java/

## Intellij stuff
/.idea/
*.iml

## logs
*.log

# RPM Stuff
/replication-shell/rpm/BUILD/
/replication-shell/rpm/BUILDROOT/
/replication-shell/rpm/RPMS/
/replication-shell/rpm/SOURCES/
/replication-shell/rpm/SRPMS/
/replication-shell/rpm/tmp/
/duracloud-backend/rpm/BUILD/
/duracloud-backend/rpm/BUILDROOT/
/duracloud-backend/rpm/RPMS/
/duracloud-backend/rpm/SOURCES/
/duracloud-backend/rpm/SRPMS/
/duracloud-backend/rpm/tmp/
/tokenizer/deploy/TARS/
/tokenizer/deploy/tokenizer/
