/chron-common/target/
/chron-messaging/target/
/chron-repl/target/
/chron-amqp-core/target/
/duracloud-intake/target/
/chron-bagit/target/
/chron-intake-shell/target/
/chron-intake-shell/intake.properties
/chron-ingest-shell/target/
/chron-ingest-shell/ingest.properties
/chron-logger/target/
/amqp-test/target/
/duracloud-rest/target/