/common/target/
/messaging/target/
/amqp-core/target/
/intake/target/
/intake-shell/target/
/intake-shell/intake.properties
/ingest-shell/target/
/ingest-shell/ingest.properties
/logger/target/
/amqp-test/target/
/duracloud-rest/target/
/replication-shell/target/
/replication-shell/replication.properties
/replication-frontend/target/
/jpatest/nbproject/private/

## Intellij stuff
/.idea/
*.iml

## logs
*.log
