<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>Chronopolis Ingestion Service</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75">
        <nav th:replace="fragments/crumbs/bag :: deposit"></nav>
        <div class="card-body p-2">
            <h6>Deposit a Bag into Chronopolis</h6>
            <div style="border: 0.2rem solid #f7f7f9; padding: 1.5rem">
                <form method="post" name="ingest">
                    <div class="form-group row">
                        <label for="bag-name" class="col-4 col-form-label">Bag Name</label>
                        <div class="col-8">
                            <input class="form-control" type="text" name="name"
                                   placeholder="bag-name" id="bag-name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="depositor-name" class="col-4 col-form-label">Depositor</label>
                        <div class="col-8">
                            <input class="form-control" type="text" name="depositor"
                                   placeholder="depositor"
                                   id="depositor-name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="location" class="col-4 col-form-label">Location</label>
                        <div class="col-8">
                            <input class="form-control" type="text" name="location"
                                   placeholder="depositor-name/bag-name"
                                   id="location"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="storageRegion" class="col-4 col-form-label">Storage
                            Region</label>
                        <div class="col-8">
                            <select class="form-control" name="storageRegion" id="storageRegion">
                                <!--/*@thymesVar id="regions" type="List<org.chronopolis.rest.entities.storage.StorageRegion>" */-->
                                <!--/*@thymesVar id="region" type="org.chronopolis.rest.entities.storage.StorageRegion" */-->
                                <option th:each="region : ${regions}" th:value="${region.id}"
                                        th:text="|(${region.id}) ${region.node.username}: ${region.dataType} ${region.storageType}|"></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="size" class="col-4 col-form-label">Size (In Bytes)</label>
                        <div class="col-8">
                            <input class="form-control" type="text" name="size" id="size"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="totalFiles" class="col-4 col-form-label">Total Number of
                            Files</label>
                        <div class="col-8">
                            <input class="form-control" type="text" name="totalFiles"
                                   id="totalFiles"/>
                        </div>
                    </div>

                    <!--/*@thymesVar id="nodes" type="List<Node>" */-->
                    <!--/*@thymesVar id="node" type="org.chronopolis.rest.entities.Node" */-->
                    <div class="form-group row">
                        <label for="replicatingNodes" class="col-4 col-form-label">Replicate
                            To</label>
                        <div class="col-8">
                            <select multiple="multiple" name="replicatingNodes"
                                    id="replicatingNodes" class="form-control">
                                <option th:each="node : ${nodes}" th:value="${node.username}"
                                        th:text="${node.username}"></option>
                            </select>
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Deposit Bag"/>
                    <!-- onclick="submit()"/> -->
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="layout :: foot"></div>
</body>
</html>