<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Bags Overview</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<!-- new shit we getting hyphy in here -->
<div class="d-flex flex-column align-items-center m-3">
    <div class="card" style="width: 66%">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Bags Overview</li>
            </ol>
        </nav>

        <div class="card-body p-2 d-flex">
            <div style="width: 45%">
                <canvas id="status-summary" style="display: block"></canvas>
            </div>

            <div class="flex-column" style="width: 45% !important">
                <h6>Bag to Node Distribution</h6>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Node</th>
                        <th>Num Bags</th>
                        <th>Total Size</th>
                    </tr>
                </thead>
                <tr th:each="summary: ${nodeSummaries}">
                    <td th:text="${summary.depositor}">Depositor-1</td>
                    <td th:text="${summary.count}">Bag-1</td>
                    <td th:text="${summary.sum}">Bag-1</td>
                </tr>
            </table>
            </div>
        </div>

        <div class="hr-sect mx-auto w-100">Recent Bags</div>
        <div class="card-body p-2">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Depositor</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Updated At</th>
                </tr>
                </thead>
                <tr th:each="bag : ${recentBags}" th:attr="data-href=@{|/bags/${bag.id}|}" class="table-clickable">
                    <td th:text="${bag.id}"></td>
                    <td th:text="${bag.depositor}"></td>
                    <td th:text="${bag.name}"></td>
                    <td th:text="${bag.status}"></td>
                    <td th:text="${bag.createdAt.toLocalDate()}"></td>
                    <td th:text="${bag.updatedAt.toLocalDate()}"></td>
                </tr>
            </table>

            <a class="btn btn-primary text-white" th:href="@{/bags}">View All Bags</a>
            <a class="btn btn-primary text-white" th:href="@{/bags/add}">Deposit Bag</a>
        </div>

    </div>

    <!-- header w/ breadcrumbs -->
    <div style="margin-top: 30px" class="text-left">
        <h2>Bags Overview</h2>
    </div>

    <hr/>

    <!-- misc info + stats -->
    <div class="d-flex">
        <div style="width: 300px; height: 300px; margin: 15px auto;">
            <canvas id="status-summary-2" style="display: block"></canvas>
        </div>

        <table class="c-table p-2" style="width: 20% !important">
            <tr>
                <td class="c-table-secondary col-2">Depositor-1</td>
                <td class="c-table-light col-10 text-left">Bag-1</td>
            </tr>
            <tr>
                <td class="c-table-secondary col-2">Depositor-1</td>
                <td class="c-table-light col-10 text-left">Bag-2</td>
            </tr>
            <tr>
                <td class="c-table-secondary col-2">Depositor-1</td>
                <td class="c-table-light col-10 text-left">Bag-3</td>
            </tr>
        </table>

        <table class="c-table p-2" style="width: 20% !important">
            <tr>
                <td class="c-table-secondary col-2">Depositor-1</td>
                <td class="c-table-light col-10 text-left">Bag-1</td>
            </tr>
            <tr>
                <td class="c-table-secondary col-2">Depositor-1</td>
                <td class="c-table-light col-10 text-left">Bag-2</td>
            </tr>
            <tr>
                <td class="c-table-secondary col-2">Depositor-1</td>
                <td class="c-table-light col-10 text-left">Bag-3</td>
            </tr>
        </table>
    </div>

    <!-- sub header -->
    <div class="hr-sect mx-auto w-75">Recent Bags</div>

    <!-- recent bags table -->
    <div class="w-75">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Depositor</th>
                <th>Name</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tr th:each="bag : ${recentBags}" th:attr="data-href=@{|/bags/${bag.id}|}" class="table-clickable">
                <td th:text="${bag.id}"></td>
                <td th:text="${bag.depositor}"></td>
                <td th:text="${bag.name}"></td>
                <td th:text="${bag.status}"></td>
                <td th:text="${bag.createdAt.toLocalDate()}"></td>
                <td th:text="${bag.updatedAt.toLocalDate()}"></td>
            </tr>
        </table>

        <a class="btn btn-primary">View All Bags</a>
        <a class="btn btn-primary">Deposit Bag</a>
    </div>
</div>

<div th:replace="layout :: foot"></div>

<!-- this is used in a few places - should make our own js file ye -->
<script type="application/javascript">
    $(".table-clickable").click(function() {
        window.location = $(this).data("href");
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"
        integrity="sha256-N4u5BjTLNwmGul6RgLoESPNqDFVUibVuOYhP4gJgrew=" crossorigin="anonymous"></script>
<script type="application/javascript" th:inline="javascript">
    Chart.defaults.global.legend.display = false;

    // setup up our dataset, labels, and extra tooltip info
    var statusDataset = [];
    var statusLabels = [];
    var statusSizes = [];

    [[${statusSummaries}]].forEach(function(item, index, array) {
        console.log(item, index);
        statusDataset.push(item.count);
        statusLabels.push(item.status);
        statusSizes.push(item.formattedSum);
    });

    var statusData = {
        datasets: [{
            data: statusDataset,
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)'
            ],
            label: 'Status Dataset'
        }],
        labels: statusLabels
    };

    var cfg = {
        type: 'pie',
        data: {
            datasets: [{
                data: statusDataset,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(255, 159, 64)',
                    'rgb(255, 205, 86)',
                    'rgb(75, 192, 192)',
                    'rgb(54, 162, 235)',
                ],
                label: 'Status Dataset'
            }],
            labels: statusLabels
        },
        options: {
            title: {
                display: true,
                text: 'Status Distribution'
            },
            tooltips: {
                enabled: true,
                callbacks: {
                    footer: function(tooltipItem, chart) {
                        return 'Total Size: ' + statusSizes[tooltipItem[0].index];
                    } 
                }
            }
        }
    };

    var canvas = $("#status-summary");
    var canvas2 = $("#status-summary-2");
    var sumChart = new Chart(canvas, cfg);
    var sumChart2 = new Chart(canvas2, cfg);
</script>
</body>
</html>
