/* Would prefer this be under a media thing but w.e. */
div.sidebar {
    position: fixed;
    top: 50px;
    width: 200px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #444;
    border-right: 1px solid #EEE;
    color: #FFF;
}

.nav-sidebar {
}

.nav-sidebar li {
    width: 180px;
}

.nav-sidebar li a:hover {
    background-color: #337ab7;
}

.nav-sidebar li a {
    padding: 5px 10px 5px 10px;
    color: #FFF;
}

/* Our header stuff */
@media(min-height: 50px) {
    header.navbar-chron {
        width: 100%;
        margin-bottom: 0;
        z-index: 100;
        border-bottom: 1px solid #EEE;
    }

    header.navbar-chron .container {
        width: 100% !important; 
        padding: 0;
        filter: none;
    }

    header.navbar-chron .header-logo {
        border-bottom: 1px transparent;
        float: left;
        height: 50px;
        width: 199px;
        overflow: hidden;
        background-color: #444;
    }

    header.navbar-chron .header-logo h3 {
        color: #FFF;
    }
}

/* Content rules */
@media (min-height: 50px) {
    div.content {
        width: 100%;
        padding: 20px;
        margin-left: 200px;
    }
}
