[Unit]
Description=Chronopolis Replication Service
After=network.target

[Service]
Type=simple
User=chronopolis
Group=chronopolis
Environment=PARAMS="--spring-config-location=/usr/local/chronopolis/replication"
ExecStart=java -jar /usr/local/chronopolis/replication/replicationd.jar $PARAMS
ExecStartPost=/usr/local/chronopolis/replication/replicationd-wait-ready $MAINPID
TimeoutSec=300

[Install]
WantedBy=multi-user.target
