<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8"/>
    <title>Storage Regions</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75 filterable">
        <nav th:replace="fragments/crumbs/region :: list"></nav>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Created At</th>
                <th>Id</th>
                <th>Owner</th>
                <th>Storage Type</th>
                <th>Data Type</th>
                <th>Total Capacity</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="regions" type="Page<org.chronopolis.rest.entities.storage.StorageRegion>"*/-->
            <!--/*@thymesVar id="region" type="org.chronopolis.rest.entities.storage.StorageRegion"*/-->
            <tr th:each="region: ${regions}" th:attr="data-href=@{|/regions/${region.id}|}" class="table-clickable">
                <td th:text="${region.createdAt.toLocalDate()}"></td>
                <td th:text="${region.id}"></td>
                <td th:text="${region.node.username}"></td>
                <td th:text="${region.storageType}"></td>
                <td th:text="${region.dataType}"></td>
                <!--/*@thymesVar id="formatter" type="org.chronopolis.ingest.support.FileSizeFormatter"*/-->
                <td th:text="${formatter.format(region.capacity)}"></td>
            </tr>
            </tbody>
        </table>
        <div th:replace="fragments/page :: page"></div>
    </div>
</div>
<div th:replace="layout :: foot"></div>
<script type="text/javascript">
    $(".table-clickable").click(function () {
        window.location = $(this).data("href");
    });
</script>
</body>
</html>
