<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="index" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Bags</li>

        <li class="ml-auto">
            <a class="btn btn-primary text-white" th:href="@{/bags/add}">Deposit Bag</a>
        </li>
    </ol>
</nav>

<!--/*@thymesVar id="bag" type="org.chronopolis.rest.entities.Bag"*/-->
<nav th:fragment="single" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/bags/overview}">Bags</a></li>
        <li class="breadcrumb-item"><a th:href="@{/bags}">All</a></li>
        <li class="breadcrumb-item">
            <a th:href="@{/bags(depositor=${bag.depositor.namespace})}"
               th:text="${bag.depositor.namespace}">Depositor</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" th:text="${bag.name}">Bag Name</li>
    </ol>
</nav>

<nav th:fragment="list" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb" style="margin-bottom: 0 !important;">
        <li class="breadcrumb-item"><a th:href="@{/bags/overview}">Bags</a></li>
        <li class="breadcrumb-item active">All</li>

        <!-- kind of janky but it works -->
        <li class="ml-auto">
            <a data-toggle="collapse" data-target="#filter-body" id="dropdown"
               style="padding: 0 !important" aria-expanded="false" aria-controls="filter-body">
                <i class="fa fa-search"></i> Search
            </a>
        </li>
    </ol>

    <div id="filter-body" class="collapse p-2">
        <form th:action="@{/bags}" method="GET">
            <div class="form-group row">
                <label for="depositor-table-filter" class="col-form-label col-2">Depositor</label>
                <input class="form-control col-9" id="depositor-table-filter" name="depositor"
                       placeholder="Search Depositor"/>
            </div>
            <div class="form-group row">
                <label for="name-table-filter" class="col-form-label col-2">Bag Name</label>
                <input class="form-control col-9" id="name-table-filter" name="name"
                       placeholder="Search Name"/>
            </div>
            <div class="form-group row">
                <label for="status-table-filter" class="col-form-label col-2">Status</label>
                <select multiple="multiple" name="status" id="status-table-filter"
                        class="form-control col-9">
                    <!--/*@thymesVar id="statuses" type="com.google.common.collect.ImmutableListMultimap<String, BagStatus>"*/-->
                    <optgroup th:each="group : ${statuses.keySet()}" th:label="${group}"
                              label="group">
                        <option th:each="status : ${statuses.get(group)}" th:value="${status}"
                                th:text="${status}"></option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-2" for="direction-filter">Order By</label>
                <div class="form-check col-2 align-self-center">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="orderBy"
                               id="optionUpdatedAt"
                               value="updatedAt"/> Updated At
                    </label>
                </div>
                <div class="form-check col-2 align-self-center">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="orderBy"
                               id="optionCreatedAt"
                               value="createdAt"/> Created At
                    </label>
                </div>
                <div class="col-3">
                    <select name="dir" id="direction-filter" class="form-control">
                        <option value="ASC">Ascending</option>
                        <option value="DESC">Descending</option>
                    </select>
                </div>
            </div>
            <button th:type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</nav>
</body>
</html>
