<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav th:fragment="create" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/replications}">Replications</a></li>
        <li class="breadcrumb-item active" aria-current="page">
            Create Replication
        </li>
    </ol>
</nav>

<!--/*@thymesVar id="replication" type="org.chronopolis.rest.entities.Replication"*/-->
<nav th:fragment="single" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/replications}">Replications</a></li>
        <li class="breadcrumb-item"><a th:href="@{/replications(bag=${replication.bag.name})}"
                                       th:text="${replication.bag.name}">Bag</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" th:text="${replication.id}">
            Replication Id
        </li>
    </ol>
</nav>

<nav th:fragment="list" aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb" style="margin-bottom: 0 !important;">
        <li class="breadcrumb-item active">Replications</li>

        <li class="ml-auto">
            <a id="dropdown" data-toggle="collapse" data-target="#filter-body"
               style="padding: 0 !important" aria-expanded="false" aria-controls="filter-body">
                <i class="fa fa-search"></i> Search
            </a>
        </li>
    </ol>

    <div class="collapse p-2" id="filter-body">
        <form class="form-horizontal" role="form" method="GET" th:action="@{/replications}">
            <div class="form-group row">
                <label for="bag-table-filter" class="col-form-label col-2">Bag</label>
                <input type="text" class="form-control col-9" id="bag-table-filter" name="bag"
                       placeholder="Search Bag"/>
            </div>
            <div class="form-group row">
                <label for="node-table-filter" class="col-form-label col-2">Node</label>
                <input type="text" class="form-control col-9" id="node-table-filter" name="node"
                       placeholder="Search Node"/>
            </div>
            <div class="form-group row">
                <label for="status-table-filter" class="col-form-label col-2">Status</label>
                <select multiple="multiple" name="status" id="status-table-filter"
                        class="form-control col-9">
                    <!--/*@thymesVar id="statuses" type="com.google.common.collect.ImmutableListMultimap<String, ReplicationStatus>"*/-->
                    <optgroup th:each="group : ${statuses.keySet()}" th:label="${group}"
                              label="group">
                        <option th:each="status : ${statuses.get(group)}" th:value="${status}"
                                th:text="${status}"></option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-2" for="direction-filter">Order By</label>
                <div class="form-check col-2 align-self-center">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="orderBy"
                               id="optionUpdatedAt"
                               value="updatedAt"/> Updated At
                    </label>
                </div>
                <div class="form-check col-2 align-self-center">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="orderBy"
                               id="optionCreatedAt"
                               value="createdAt"/> Created At
                    </label>
                </div>
                <div class="col-3">
                    <select name="dir" id="direction-filter" class="form-control">
                        <option value="ASC">Ascending</option>
                        <option value="DESC">Descending</option>
                    </select>
                </div>
            </div>
            <button th:type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</nav>
</body>
</html>