<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Depositors Overview</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75">
        <nav th:replace="fragments/crumbs/depositor :: edit"></nav>
        <div class="card-body p-2">
            <h4>Add Depositor Contact</h4>
            <div style="border: 0.2rem solid #f7f7f9; padding: 1.5rem">
                <!--/*@thymesVar id="depositorContactCreate" type="org.chronopolis.rest.models.DepositorContactCreate"*/-->
                <form method="post" name="contact" th:object="${depositorContactCreate}">
                    <div class="form-group row">
                        <label for="contact-name" class="col-4 col-form-label">Contact Name</label>
                        <div class="col-8" th:with="nameError=${#fields.hasErrors('name')}">
                            <input th:field="*{name}"
                                   th:classappend="${nameError} ? 'is-invalid'"
                                   class="form-control" type="text" name="name"
                                   placeholder="contact-name" id="contact-name"/>
                            <div class="invalid-feedback" th:if="${nameError}" th:errors="*{name}"></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="contact-email" class="col-4 col-form-label">Contact Email</label>
                        <div class="col-8" th:with="emailError=${#fields.hasErrors('email')}">
                            <input th:field="*{email}"
                                   th:classappend="${emailError} ? 'is-invalid'"
                                   class="form-control" type="text" name="email"
                                   placeholder="contact-email" id="contact-email"/>
                            <div class="invalid-feedback" th:if="${emailError}" th:errors="*{email}"></div>
                        </div>
                    </div>

                    <div class="form-group row"
                         th:with="phoneError=${#fields.hasErrors('phoneNumber')}"
                         th:classappend="${phoneError}? 'has-warning'">
                        <label for="contact-phone" class="col-4 col-form-label">Contact
                            Phone</label>
                        <div class="col-2">
                            <select class="form-control" id="country-code"
                                    name="phoneNumber.countryCode">
                                <!--/*@thymesVar id="regions" type="Set<String>"*/-->
                                <option th:each="region: ${regions}"
                                        th:value="${region}" th:text="${region}"
                                        th:selected="${region.equals('US')}"></option>
                            </select>
                        </div>
                        <div class="col-6" th:with="numError=${#fields.hasErrors('phoneNumber')}">
                            <input th:field="*{phoneNumber.number}"
                                   th:classappend="${numError} ? 'is-invalid'"
                                   class="form-control" type="text" name="phoneNumber.number"
                                   placeholder="contact-phone" id="contact-phone"/>
                            <div class="invalid-feedback" th:if="${numError}" th:errors="*{phoneNumber}"></div>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Add Contact"/>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="layout :: foot"></div>
</div>
</body>
</html>
