<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Depositors Overview</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75">
        <nav th:replace="fragments/crumbs/depositor :: single"></nav>

        <!--@thymesVar id="tokens" type="Long"-->
        <!--@thymesVar id="depositor" type="org.chronopolis.rest.entities.depositor.Depositor"-->
        <div class="card-body p-2">
            <table class="table table-hover">
                <tr th:replace="fragments/storage :: list-item(head='Id', content=${depositor.id})"></tr>
                <tr th:replace="fragments/storage :: list-item(head='Source Organization', content=${depositor.sourceOrganization})"></tr>
                <tr th:replace="fragments/storage :: list-item(head='Organization Address', content=${depositor.organizationAddress})"></tr>
                <tr th:replace="fragments/storage :: list-item(head='Created At', content=${depositor.createdAt})"></tr>
                <tr th:replace="fragments/storage :: list-item(head='Updated At', content=${depositor.updatedAt})"></tr>
                <tr>
                    <td class="bg-secondary text-white text-center w-25">Replicates To</td>
                    <td sec:authorize="hasRole('ROLE_USER')" class="bg-light">
                        <a th:each="node: ${depositor.nodeDistributions}"
                           th:text="${node.username}"
                           style="margin-right: 0.25rem;"
                           class="badge badge-pill badge-success text-white">
                        </a>
                    </td>
                    <td sec:authorize="hasRole('ROLE_ADMIN')" class="bg-light">
                        <a th:each="node: ${depositor.nodeDistributions}"
                           th:text="${node.username}"
                           th:data-href="@{|${depositor.namespace}/removeNode|(name=${node.username})}"
                           th:data-message="|Warning: Proceeding will remove ${node.username} from all future replications|"
                           style="margin-right: 0.25rem; cursor: pointer;"
                           data-toggle="modal" data-target="#rm-modal"
                           class="badge badge-pill badge-success text-white"></a>
                        <a class="badge badge-pill badge-primary"
                           th:href="@{|${depositor.namespace}/addNode|}">
                            +
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="card-body p-2">
            <table th:replace="fragments/depositor :: display-contacts(${depositor}, ${depositor.contacts})"></table>
            <a sec:authorize="hasRole('ROLE_ADMIN')"
               class="btn btn-primary pull-left" th:href="@{|${depositor.namespace}/addContact|}">
                Add Contact</a>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')"
             class="modal fade" id="rm-modal" tabindex="-1" role="dialog"
             aria-labelledby="rm-modal-label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rm-modal-label">Confirmation</h5>
                    </div>
                    <div class="modal-body text-dark">
                        Warning: Proceeding will remove this resource
                    </div>
                    <div class="modal-footer">
                        <button th:type="button" class="btn btn-secondary" data-dismiss="modal">
                            Dismiss
                        </button>
                        <a role="button" class="btn btn-danger text-white">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="layout :: foot"></div>
    <script sec:authorize="hasRole('ROLE_ADMIN')" type="text/javascript">
        $('#rm-modal').on('show.bs.modal', function (event) {
            var target = $(event.relatedTarget);
            var href = target.data('href');
            var message = target.data('message');

            var modal = $(this);
            modal.find('.btn-danger').attr('href', href);
            modal.find('.modal-body').text(message);
        });
    </script>
</div>
</body>
</html>
