<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Depositors Overview</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<!--/*@thymesVar id="depositor" type="org.chronopolis.rest.entities.Depositor"*/-->
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75">
        <nav th:replace="fragments/crumbs/depositor :: edit(${depositor}, 'edit')"></nav>
        <div class="card-body p-2">
            <h4>Edit Depositor Information</h4>
            <div style="border: 0.2rem solid #f7f7f9; padding: 1.5rem">
                <!--/*@thymesVar id="depositorEdit" type="org.chronopolis.rest.models.update.DepositorUpdate"*/-->
                <form method="post" name="contact" th:object="${depositorEdit}">
                    <div class="form-group row">
                        <label for="org-name" class="col-4 col-form-label">Organization Name</label>
                        <div class="col-8">
                            <input th:field="*{sourceOrganization}"
                                   name="sourceOrganization" id="org-name"
                                   class="form-control" type="text" placeholder="org-name"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="org-address"
                               class="col-4 col-form-label">Organization Address</label>
                        <div class="col-8">
                            <input th:field="*{organizationAddress}"
                                   name="organizationAddress" id="org-address"
                                   class="form-control" type="text" placeholder="org-address"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="nodes" class="col-4 col-form-label">Replicating Nodes</label>
                        <div class="col-8">
                            <select th:field="*{replicatingNodes}" name="replicatingNodes"
                                    multiple="multiple" id="nodes" class="form-control">
                                <!--/*@thymesVar id="nodes" type="java.util.List<org.chronopolis.rest.entities.Node>"*/-->
                                <option th:each="node: ${nodes}"
                                        th:value="${node.username}"
                                        th:text="${node.username}"></option>
                            </select>
                        </div>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Save Changes"/>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="layout :: foot"></div>
</div>
</body>
</html>