<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <meta charset="UTF-8">
    <title>Depositors Overview</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75">
        <nav th:replace="fragments/crumbs/depositor :: index"></nav>

        <!--/*@thymesVar id="formatter" type="org.chronopolis.ingest.support.FileSizeFormatter"*/-->
        <div class="p-1 w-75 ml-auto mr-auto" style="margin-bottom: 1rem">
            <div class="d-flex justify-content-between">
                <div class="p-1">
                    <!--/*@thymesVar id="numDepositors" type="java.lang.Long"*/-->
                    <h3 style="margin-bottom: 0" th:text="${numDepositors}"></h3>
                    <span class="subheading">Total Depositors</span>
                </div>

                <div class="p-1">
                    <!--/*@thymesVar id="countAvg" type="java.lang.Double"*/-->
                    <h3 style="margin-bottom: 0"
                        th:text="${#numbers.formatDecimal(countAvg, 0, 'DEFAULT', 2, 'DEFAULT')}"></h3>
                    <span class="subheading">Average Bags Per Depositor</span>
                </div>

                <div class="p-1">
                    <!--/*@thymesVar id="sizeAvg" type="java.math.BigDecimal"*/-->
                    <h3 style="margin-bottom: 0" th:text="${formatter.format(sizeAvg)}"></h3>
                    <span class="subheading">Average Deposited Bag Size</span>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-around">
            <table class="table" style="width: 45%">
                <thead class="bg-dark">
                <tr>
                    <th class="text-center text-white" colspan="2">Depositors By Bag Count</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="byCount" type="java.util.List<org.chronopolis.ingest.models.DepositorSummary>"*/-->
                <tr th:each="summary: ${byCount}">
                    <td scope="row"
                        class="bg-secondary font-weight-bold text-center text-white w-50"
                        th:text="${summary.depositor}"></td>
                    <td class="bg-light text-center" th:text="${summary.count}"></td>
                </tr>
                </tbody>
            </table>
            <table class="table" style="width: 45%">
                <thead class="bg-dark">
                <tr>
                    <th class="text-center text-white" colspan="2">Depositors By Total Bytes</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="bySum" type="java.util.List<org.chronopolis.ingest.models.DepositorSummary>"*/-->
                <tr th:each="summary: ${bySum}">
                    <td scope="row"
                        class="bg-secondary font-weight-bold text-center text-white w-50"
                        th:text="${summary.depositor}"></td>
                    <td class="bg-light text-center" th:text="${formatter.format(summary.sum)}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="card-body p-2">
            <table class="table table-hover">
                <thead class="bg-dark">
                    <tr>
                        <th colspan="4" class="text-center text-white">New Depositors</th>
                    </tr>
                </thead>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Namespace</th>
                    <th>Source Organization</th>
                    <th>Created At</th>
                </tr>
                </thead>
                <!--/*@thymesVar id="recent" type="java.util.List<org.chronopolis.rest.entities.depositor.Depositor>"*/-->
                <tr class="table-clickable" th:each="depositor: ${recent}"
                    th:attr="data-href=@{|/depositors/list/${depositor.namespace}|}">
                    <td th:text="${depositor.id}"></td>
                    <td th:text="${depositor.namespace}"></td>
                    <td th:text="${depositor.sourceOrganization}"></td>
                    <td th:text="${depositor.createdAt.toLocalDate()}"></td>
                </tr>
            </table>

            <a class="btn btn-outline-primary" th:href="@{/depositors/list}">View All</a>
        </div>
    </div>
    <div th:replace="layout :: foot"></div>

</div>
<script type="text/javascript">
    $(".table-clickable").click(function () {
        window.location = $(this).data("href");
    });
</script>
</body>
</html>
