<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>Chronopolis Ingestion Service</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="w-50">
        <h4>Add Replication</h4>
        <h6 class="text-muted">Create a new replication for a node</h6>
        <div style="border: 0.2rem solid #f7f7f9; padding: 1.5rem;">
            <form enctype="application/json" method="post" name="replication">
                <!--@thymesVar id="bags" type="List<Bag>"-->
                <!--@thymesVar id="bag" type="org.chronopolis.rest.entities.Bag"-->
                <div class="form-group row">
                    <label for="bagId" class="col-4 col-form-label">Bag</label>
                    <div class="col-8">
                        <select class="form-control" name="bagId" id="bagId">
                            <option th:each="bag: ${bags}"
                                    th:value="${bag.id}" th:text="|${bag.depositor.namespace}/${bag.name}|">
                            </option>
                        </select>
                    </div>
                </div>


                <!--@thymesVar id="nodes" type="List<Node>"-->
                <!--@thymesVar id="node" type="org.chronopolis.rest.entities.Node"-->
                <div class="form-group row">
                    <label for="nodeId" class="col-4 col-form-label">To</label>
                    <div class="col-8">
                        <select class="form-control" name="nodeId" id="nodeId">
                            <option th:each="node: ${nodes}"
                                    th:value="${node.id}" th:text="${node.username}">
                            </option>
                        </select>
                    </div>
                </div>

                <input class="btn btn-primary" type="submit" value="Create Replication"/> <!-- onclick="submit()"/> -->
            </form>
        </div>
    </div>
    <div th:replace="layout :: foot"></div>
</div>
</body>
</html>