<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>Chronopolis Ingestion Service</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75 filterable" th:fragment="table">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb" style="margin-bottom: 0 !important;">
                <li class="breadcrumb-item active">Replications</li>

                <a id="dropdown" class="ml-auto" data-toggle="collapse" data-target="#filter-body"
                   style="padding: 0 !important" aria-expanded="false" aria-controls="filter-body">
                    <i class="fa fa-search"></i> Search
                </a>
            </ol>
        </nav>
        <div class="collapse p-2" id="filter-body">
            <form class="form-horizontal" role="form" method="GET" th:action="@{/replications}">
                <div class="form-group row">
                    <label for="bag-table-filter" class="col-form-label col-2">Bag</label>
                    <input type="text" class="form-control col-9" id="bag-table-filter" name="bag"
                           placeholder="Search Bag"/>
                </div>
                <div class="form-group row">
                    <label for="node-table-filter" class="col-form-label col-2">Node</label>
                    <input type="text" class="form-control col-9" id="node-table-filter" name="node"
                           placeholder="Search Node"/>
                </div>
                <div class="form-group row">
                    <label for="status-table-filter" class="col-form-label col-2">Status</label>
                    <select multiple="multiple" name="status" id="status-table-filter" class="form-control col-9">
                        <!--/*@thymesVar id="statuses" type="com.google.common.collect.ImmutableListMultimap<String, ReplicationStatus>"*/-->
                        <optgroup th:each="group : ${statuses.keySet()}" th:label="${group}">
                            <option th:each="status : ${statuses.get(group)}" th:value="${status}"
                                    th:text="${status}"></option>
                        </optgroup>
                    </select>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-2" for="direction-filter">Order By</label>
                    <div class="form-check col-2 align-self-center">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="orderBy" id="optionUpdatedAt"
                                   value="updatedAt"/> Updated At
                        </label>
                    </div>
                    <div class="form-check col-2 align-self-center">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="orderBy" id="optionCreatedAt"
                                   value="createdAt"/> Created At
                        </label>
                    </div>
                    <div class="col-3">
                        <select name="dir" id="direction-filter" class="form-control">
                            <option value="ASC">Ascending</option>
                            <option value="DESC">Descending</option>
                        </select>
                    </div>
                </div>
                <button th:type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Bag</th> <!-- Name instead? -->
                <th>Replicating Node</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            <!--@thymesVar id="replications" type="Set<Bag>"-->
            <!--@thymesVar id="replication" type="org.chronopolis.rest.entities.Replication"-->
            <tr th:each="replication: ${replications}" th:attr="data-href=@{|/replications/${replication.id}|}"
                class="table-clickable">
                <td th:text="${replication.id}"></td>
                <td th:text="${replication.bag.name}"></td>
                <td th:text="${replication.node.username}"></td>
                <td th:text="${replication.status}"></td>
                <td th:if="${replication.createdAt} != null" th:text="${replication.createdAt.toLocalDate()}"></td>
                <td th:if="${replication.updatedAt} != null" th:text="${replication.updatedAt.toLocalDate()}"></td>
            </tr>
            </tbody>
        </table>

        <div th:replace="fragments/page :: page"></div>
    </div>
    <div th:replace="layout :: foot"></div>
</div>
<script type="text/javascript">
    $(".table-clickable").click(function () {
        window.location = $(this).data("href");
    });
</script>
</body>
</html>