<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>Chronopolis Ingestion Service</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <div class="card w-75 filterable" th:fragment="table">
        <nav th:replace="fragments/crumbs/repl :: list"></nav>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Bag</th> <!-- Name instead? -->
                <th>Replicating Node</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
            </thead>
            <tbody>
            <!--@thymesVar id="replications" type="Set<Bag>"-->
            <!--@thymesVar id="replication" type="org.chronopolis.rest.entities.Replication"-->
            <tr th:each="replication: ${replications}" th:attr="data-href=@{|/replications/${replication.id}|}"
                class="table-clickable">
                <td th:text="${replication.id}"></td>
                <td th:text="${replication.bag.name}"></td>
                <td th:text="${replication.node.username}"></td>
                <td th:text="${replication.status}"></td>
                <td th:if="${replication.createdAt} != null" th:text="${replication.createdAt.toLocalDate()}"></td>
                <td th:if="${replication.updatedAt} != null" th:text="${replication.updatedAt.toLocalDate()}"></td>
            </tr>
            </tbody>
        </table>

        <div th:replace="fragments/page :: page"></div>
    </div>
    <div th:replace="layout :: foot"></div>
</div>
<script type="text/javascript">
    $(".table-clickable").click(function () {
        window.location = $(this).data("href");
    });
</script>
</body>
</html>