<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProfile name="production">
        <property name="ACCESS_LOG_FILENAME" value="/var/log/chronopolis/ingest-access.log"/>

        <appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${ACCESS_LOG_FILENAME}</file>
            <encoder>
                <pattern>%d{yyyy/MM/dd HH:mm:ss} - %m%n</pattern>
            </encoder>
            <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
                <maxIndex>5</maxIndex>
                <fileNamePattern>${ACCESS_LOG_FILENAME}.%i</fileNamePattern>
            </rollingPolicy>
            <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
                <MaxFileSize>20MB</MaxFileSize>
            </triggeringPolicy>
        </appender>
        <logger name="access-log" level="INFO">
            <appender-ref ref="ACCESS_LOG"/>
        </logger>
    </springProfile>

</configuration>
