<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head">
    <title>Chronopolis - Repair Request</title>
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <!--/*@thymesVar id="bag" type="org.chronopolis.rest.entities.Bag"*/-->
    <div class="card w-75 filterable">
        <nav th:replace="fragments/crumbs/bag :: storage"></nav>

        <!--/*@thymesVar id="storage" type="org.chronopolis.rest.entities.storage.StagingStorage"*/-->
        <div th:each="storage: ${bag.storage}">
            <div th:replace="fragments/storage :: card-display (storage=${storage},storageName=${storage.id},rw=false)"></div>
        </div>
    </div>
</div>
<div th:replace="layout :: foot"></div>
<script type="text/javascript">
    $(".table-clickable").click(function () {
        window.location = $(this).data("href");
    });
</script>
</body>
</html>
