<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    </link>

</head>
<body>
<div th:fragment="simple-table">
    <div class="panel panel-info filterable">
        <div class="panel-heading">
            <h3 class="panel-title">Bags</h3>
            <div class="pull-right">
                <button id="dropdown" class="btn btn-default btn-xs btn-filter"><span
                        class="glyphicon glyphicon-filter"></span> Filter
                </button>
            </div>
        </div>
        <div id="filter-body" class="panel-body" style="display: none">
            <form class="form-horizontal" role="form" th:action="@{/bags}" method="GET">
                <div class="input-group form-group-sm">
                    <span class="input-group-addon">Depositor</span>
                    <input type="text" class="form-control" id="depositor-table-filter" name="depositor"
                           placeholder="Search Depositor"/>
                </div>
                <br/>
                <!--
                <div class="input-group form-group-sm">
                    <span class="input-group-addon">Bag Name</span>
                    <input type="text" class="form-control" id="name-table-filter" name="name" placeholder="Search Name"/>
                </div>
                <br/>
                -->
                <div class="input-group form-group-sm">
                    <span class="input-group-addon">Status</span>
                    <input type="text" class="form-control" id="status-table-filter" name="status"
                           placeholder="Search Bag Status"/>
                </div>
                <br/>
                <button th:type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"
                                                                       aria-hidden="true"></span></button>
            </form>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Depositor</th>
                <th>Name</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <!--@thymesVar id="bags" type="Page<Bag>"-->
            <!--@thymesVar id="bag" type="org.chronopolis.rest.entities.Bag"-->
            <tr th:each="bag: ${bags}">
                <td><a th:text="${bag.id}" th:href="@{/bags/} + ${bag.id}"></a></td>
                <td th:text="${bag.depositor}"></td>
                <td th:text="${bag.name}"></td>
                <td th:text="${bag.status}"></td>
            </tr>
            </tbody>
        </table>

        <!--@thymesVar id="bags" type="Page<Bag>"-->
        <!--<input type="button" value="next" class="btn btn-small" th:href="@{/bags/(page=${bags.number})}" />-->

        <div th:replace="fragments/page :: page"></div>
    </div>
</div>

<!-- This is typically only for an individual bag, as getting the token count
     can be a long operation over multiple bags -->
<div th:fragment="info">
    <h3>Bag Overview</h3>
    <form method="POST">
        <table class="table table-bordered">
            <!--
            <thead>
            <tr>
                <th>ID</th>
                <th>Depositor</th>
                <th>Name</th>
                <th>Size</th>
                <th>Total Files</th>
                <th>Total Tokens</th>
                <th>Status</th>
            </tr>
            </thead>
            -->
            <!--@thymesVar id="bags" type="List<Bag>"-->
            <!--@thymesVar id="tokens" type="Long"-->
            <!--@thymesVar id="bag" type="org.chronopolis.rest.entities.Bag"-->
            <tbody th:each="bag: ${bags}">
                <tr>
                    <td>Id</td>
                    <td th:text="${bag.id}"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${bag.name}"></td>
                </tr>
                <tr>
                    <td>Depositor</td>
                    <td th:text="${bag.depositor}"></td>
                </tr>
               <tr>
                    <td>Size</td>
                    <td th:text="${bag.size}"></td>
                </tr>
                <tr>
                    <td>Num Files</td>
                    <td th:text="${bag.totalFiles}"></td>
                </tr>
                <tr>
                    <td>Num Tokens</td>
                    <td th:text="${tokens}"></td>
                </tr>
                <tr>
                    <td>Status</td>
                    <!--@thymesVar id="statuses" type="List" -->
                    <td>
                    <select name="status" id="status">
                        <option th:each="status : ${statuses}"
                                th:value="${status.value}" th:text="${status.value}"
                                th:selected="${status == bag.status}">
                        </option>
                        <!-- <td th:text="${bag.status}"></td> -->
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>Created At</td>
                    <td th:text="${bag.createdAt}"></td>
                </tr>
                <tr>
                    <td>Updated At</td>
                    <td th:text="${bag.updatedAt}"></td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="Update Bag" class="btn btn-small"/>
    </form>
</div>
</body>
</html>
