<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div class="card w-50 filterable" th:fragment="simple-table">
    <div class="card-header">
        <div class="d-flex justify-content-start">
            <h3 class="card-title p-2">Bags</h3>
            <button data-toggle="collapse" data-target="#filter-body" id="dropdown" class="btn btn-default btn-xs btn-filter ml-auto p-2"
                    aria-expanded="false" aria-controls="filter-body">
                <i class="fa fa-search"></i> Search
            </button>
        </div>
    </div>
    <div id="filter-body" class="collapse p-2">
        <form th:action="@{/bags}" method="GET">
            <div class="form-group row">
                <label for="depositor-table-filter" class="col-form-label col-2">Depositor</label>
                <input class="form-control col-9" id="depositor-table-filter" name="depositor"
                       placeholder="Search Depositor"/>
            </div>
            <div class="form-group row">
                <label for="name-table-filter" class="col-form-label col-2">Bag Name</label>
                <input class="form-control col-9" id="name-table-filter" name="name"
                       placeholder="Search Name"/>
            </div>
            <div class="form-group row">
                <label for="status-table-filter" class="col-form-label col-2">Status</label>
                <select multiple="multiple" name="status" id="status-table-filter" class="form-control col-9">
                    <!--/*@thymesVar id="statuses" type="com.google.common.collect.ImmutableListMultimap<String, BagStatus>"*/-->
                    <optgroup th:each="group : ${statuses.keySet()}" th:label="${group}">
                        <option th:each="status : ${statuses.get(group)}" th:value="${status}" th:text="${status}"></option>
                    </optgroup>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-2" for="direction-filter">Order By</label>
                <div class="form-check col-2">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="orderBy" id="optionUpdatedAt" value="updatedAt"/> UpdatedAt
                    </label>
                </div>
                <div class="form-check col-2">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="orderBy" id="optionCreatedAt" value="createdAt"/> CreatedAt
                    </label>
                </div>
                <div class="col-3">
                    <select name="dir" id="direction-filter" class="form-control">
                        <option value="ASC">Ascending</option>
                        <option value="DESC">Descending</option>
                    </select>
                </div>
            </div>
            <button th:type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Depositor</th>
            <th>Name</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Updated At</th>
            <!--
            <th>Created At<a th:href="@{/bags(sort='created_at')}" th:method="POST"><i class="fa fa-sort fa-fw" aria-hidden="true"></i></a></th>
            <th>Updated At<a th:href="@{/bags(sort='updated_at')}" th:method="POST"><i class="fa fa-sort fa-fw" aria-hidden="true"></i></a></th>
            -->
        </tr>
        </thead>
        <tbody>
        <!--@thymesVar id="bags" type="Page<Bag>"-->
        <!--@thymesVar id="bag" type="org.chronopolis.rest.entities.Bag"-->
        <tr th:each="bag: ${bags}" th:attr="data-href=@{|/bags/${bag.id}|}" class="table-clickable">
            <td th:text="${bag.id}"></td>
            <td th:text="${bag.depositor}"></td>
            <td th:text="${bag.name}"></td>
            <td th:text="${bag.status}"></td>
            <td th:text="${bag.createdAt.toLocalDate()}"></td>
            <td th:text="${bag.updatedAt.toLocalDate()}"></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="fragments/page :: page"></div>
</div>

<!-- This is typically only for an individual bag, as getting the token count
     can be a long operation over multiple bags

     Might put the Associated repls in a tab or smth
     -->
<div class="card w-50" th:fragment="info">
    <div class="card-header">
        <h3>Bag Overview</h3>
    </div>

    <!--@thymesVar id="tokens" type="Long"-->
    <!--@thymesVar id="bag" type="org.chronopolis.rest.entities.Bag"-->
    <div class="card-block">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Id</td>
                <td th:text="${bag.id}"></td>
            </tr>
            <tr>
                <td>Created By</td>
                <td th:text="${bag.creator}"></td>
            </tr>
            <tr>
                <td>Name</td>
                <td th:text="${bag.name}"></td>
            </tr>
            <tr>
                <td>Depositor</td>
                <td th:text="${bag.depositor}"></td>
            </tr>
            <tr>
                <!-- ajax instead? -->
                <td>Num Tokens</td>
                <td th:text="${tokens}"></td>
            </tr>
            <tr>
                <td>Status</td>
                <!--@thymesVar id="statuses" type="List" -->
                <td>
                    <select name="status" id="status">
                        <option th:each="status : ${statuses}"
                                th:value="${status.value}" th:text="${status.value}"
                                th:selected="${status == bag.status}">
                        </option>
                        <!-- <td th:text="${bag.status}"></td> -->
                    </select>
                </td>
            </tr>
            <tr>
                <td>Created At</td>
                <td th:text="${bag.createdAt}"></td>
            </tr>
            <tr>
                <td>Updated At</td>
                <td th:text="${bag.updatedAt}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--/*@thymesVar id="activeBagStorage" type="org.chronopolis.rest.entities.storage.StagingStorage"*/-->
    <th:block th:if="${activeBagStorage} != null">
        <div th:replace="fragments/storage :: card-display (storage=${activeBagStorage},storageName='Bag')"/>
    </th:block>

    <!--/*@thymesVar id="activeTokenStorage" type="org.chronopolis.rest.entities.storage.StagingStorage"*/-->
    <th:block th:if="${activeTokenStorage} != null">
        <div th:replace="fragments/storage :: card-display (storage=${activeTokenStorage},storageName='Token')"></div>
    </th:block>

    <div class="card-header">
        <h4>Associated Replications</h4>
    </div>
    <div class="card-block p-2">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Node</th>
                <th>Status</th>
            </tr>
            </thead>
            <!--/*@thymesVar id="replications" type="List<Replication>"*/-->
            <!--/*@thymesVar id="repl" type="org.chronopolis.rest.entities.Replication"*/-->
            <tbody>
            <tr th:each="repl : ${replications}">
                <td><a th:text="${repl.id}" th:href="@{|/replications/${repl.id}|}"></a></td>
                <td th:text="${repl.node.username}"></td>
                <td th:text="${repl.status}"></td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{/replications/create(bag=${bag.id})}">Create Replication</a>
    </div>
</div>
</body>
</html>
