<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!--/*@thymesVar id="depositor" type="org.chronopolis.rest.entities.Depositor"*/-->
<!--/*@thymesVar id="contacts" type="java.util.List<org.chronopolis.rest.entities.DepositorContact>"*/-->
<table th:fragment="display-contacts (depositor, contacts)" class="table table-hover">
    <thead class="bg-dark">
        <tr>
            <th colspan="4" class="text-white text-center">Contacts</th>
        </tr>
    </thead>
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th sec:authorize="hasRole('ROLE_ADMIN')"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contact: ${contacts}">
        <td th:text="${contact.contactName}"></td>
        <td th:text="${contact.contactEmail}"></td>
        <td th:text="${contact.contactPhone}"></td>
        <td sec:authorize="hasRole('ROLE_ADMIN')"
            class="bg-danger font-weight-normal text-white text-center w-25"
            style="cursor: pointer;"
            data-target="#rm-modal" data-toggle="modal"
            th:data-message="|Warning: Proceeding will remove ${contact.contactName} as a contact|"
            th:data-href="@{|${depositor.namespace}/removeContact|(email=${contact.contactEmail})}">
            Remove Contact
        </td>
    </tr>
    </tbody>
</table>
</html>