<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    </link>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="">
    </link>

</head>
<body>
<div class="card w-50 filterable" th:fragment="table">
    <div class="card-header">
        <div class="d-flex justify-content-start">
            <h3 class="card-title p-2">Replications</h3>
            <button id="dropdown" class="btn btn-default btn-xs btn-filter p-2 ml-auto"
                    data-toggle="collapse" data-target="#filter-body" aria-expanded="false" aria-controls="filter-body"><i
                    class="fa fa-search"></i>
                Search
            </button>
        </div>
    </div>
    <div class="collapse p-2" id="filter-body">
        <form class="form-horizontal" role="form" method="GET" th:action="@{/replications}">
            <div class="input-group input-group-sm">
                <span class="input-group-addon" id="sizing-addon-1">Bag</span>
                <input type="text" class="form-control" id="bag-table-filter" name="bag" placeholder="Search Bag"/>
            </div>
            <br/>
            <div class="input-group form-group-sm">
                <span class="input-group-addon" id="sizing-addon-2">Node</span>
                <input type="text" class="form-control" id="node-table-filter" name="node" placeholder="Search Node"/>
            </div>
            <br/>
            <div class="input-group form-group-sm">
                <span class="input-group-addon" id="sizing-addon-3">Status</span>
                <!--@thymesVar id="statuses" type="List" -->
                <!--@thymesVar id="status" type="org.chronopolis.rest.models.ReplicationStatus" -->
                <select name="status" id="status-table-filter" class="form-control">
                    <option value="">select a status</option>
                    <option th:each="status : ${statuses}"
                            th:value="${status.name()}" th:text="${status.name()}">

                    </option>
                </select>

            </div>
            <br/>
            <h5>Order By</h5>
            <div class="radio">
                <label>
                    <input type="radio" name="orderBy" id="optionUpdatedAt" value="updatedAt"/>
                    Updated At
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="orderBy" id="optionCreatedAt" value="createdAt"/>
                    Created At
                </label>
            </div>
            <div class="input-group form-group-sm">
                <select name="dir" id="direction-filter" class="form-control">
                    <option value="ASC">Ascending</option>
                    <option value="DESC">Descending</option>
                </select>
            </div>
            <br/>
            <button th:type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"
                                                                   aria-hidden="true"></span>Search</button>
        </form>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Bag</th> <!-- Name instead? -->
            <th>Replicating Node</th>
            <th>Status</th>
            <th>Created At<i class="fa fa-sort fa-fw" aria-hidden="true"></i></th>
            <th>Updated At<i class="fa fa-sort fa-fw" aria-hidden="true"></i></th>
        </tr>
        </thead>
        <tbody>
        <!--@thymesVar id="replications" type="Set<Bag>"-->
        <!--@thymesVar id="replication" type="org.chronopolis.rest.entities.Replication"-->
        <tr th:each="replication: ${replications}">
            <td><a th:href="@{'/replications/' + ${replication.id}}" th:text="${replication.id}"></a></td>
            <td th:text="${replication.bag.name}"></td>
            <td th:text="${replication.node.username}"></td>
            <td th:text="${replication.status}"></td>
            <td th:if="${replication.createdAt} != null" th:text="${replication.createdAt.toLocalDate()}"></td>
            <td th:if="${replication.updatedAt} != null" th:text="${replication.updatedAt.toLocalDate()}"></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="fragments/page :: page"></div>
</div>
</body>
</html>
