<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    </link>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="">
    </link>

</head>
<body>
<div th:fragment="table">
    <div class="panel panel-info filterable">
        <div class="panel-heading">
            <h3 class="panel-title">Replications</h3>
            <div class="pull-right">
                <button id="dropdown" class="btn btn-default btn-xs btn-filter" data-toggle="dropdown"><span
                        class="glyphicon glyphicon-filter"></span>
                    Filter
                </button>
            </div>
        </div>

        <div class="panel-body" id="filter-body" style="display: none">
            <form class="form-horizontal" role="form" method="GET" th:action="@{/replications}">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon-1">Bag</span>
                    <input type="text" class="form-control" id="bag-table-filter" name="bag" placeholder="Search Bag"/>
                </div>
                <br/>
                <div class="input-group form-group-sm">
                    <span class="input-group-addon" id="sizing-addon-2">Node</span>
                    <input type="text" class="form-control" id="node-table-filter" name="node" placeholder="Search Node"/>
                </div>
                <br/>
                <div class="input-group form-group-sm">
                    <span class="input-group-addon" id="sizing-addon-3">Status</span>
                    <input type="text" class="form-control" id="status-table-filter" name="status" placeholder="Search Status"/>
                </div>
                <br/>
                <button th:type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"
                                                                       aria-hidden="true"></span></button>
            </form>
        </div>
        <!-- shove it here-->





        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Bag ID</th> <!-- Name instead? -->
                <th>Replicating Node</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <!--@thymesVar id="replications" type="Set<Bag>"-->
            <!--@thymesVar id="replication" type="org.chronopolis.rest.models.Replication"-->
            <tr th:each="replication: ${replications}">
                <td><a th:href="@{'/replications/' + ${replication.id}}" th:text="${replication.id}"></a></td>
                <td th:text="${replication.bag.id}"></td>
                <td th:text="${replication.node.username}"></td>
                <td th:text="${replication.status}"></td>
            </tr>
            </tbody>
        </table>

        <div th:replace="fragments/page :: page"></div>
    </div>
</div>
</body>
</html>
