<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <style type="text/css">

    </style>
</head>
<body>
<div class="card w-75" th:fragment="element">
    <!--/*@thymesVar id="replication" type="org.chronopolis.rest.entities.Replication"*/-->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/replications}">Replications</a></li>
            <li class="breadcrumb-item"><a th:href="@{/replications(bag=${replication.bag.name})}"
                                           th:text="${replication.bag.name}">Bag</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${replication.id}">Replication Id</li>
        </ol>
    </nav>
    <div class="card-body p-2">
        <table class="c-table">
            <div th:replace="fragments/storage :: list-item(head='Bag DL Link', content=${replication.bagLink})"></div>
            <div th:replace="fragments/storage :: list-item(head='Tagmanifest Fixity', content=${replication.receivedTagFixity})"></div>
            <div th:replace="fragments/storage :: list-item(head='Token DL Link', content=${replication.tokenLink})"></div>
            <div th:replace="fragments/storage :: list-item(head='Token Fixity', content=${replication.receivedTokenFixity})"></div>
            <div th:replace="fragments/storage :: list-item(head='Status', content=${replication.status})"></div>
            <div th:replace="fragments/storage :: list-item(head='Created At', content=${replication.createdAt})"></div>
            <div th:replace="fragments/storage :: list-item(head='Updated At', content=${replication.updatedAt})"></div>
        </table>
    </div>
</div>
</body>
</html>
