<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="card-display (storage, storageName, rw)">
    <!--/*@thymesVar id="fixity" type="org.chronopolis.rest.entities.storage.Fixity"*/-->
    <!--/*@thymesVar id="formatter" type="org.chronopolis.ingest.support.FileSizeFormatter"*/-->
    <!--/*@thymesVar id="storage" type="org.chronopolis.rest.entities.storage.StagingStorage"*/-->
    <div class="card-text p-2">

        <!-- list for showing storage/fixity/etc -->
        <div class="row">
            <div class="col-3">
                <div th:id="|v-tab-${storageName}|" class="nav flex-column nav-pills" role="tablist"
                     aria-orientation="vertical">

                    <a th:id="|v-storage-tab-${storageName}|"
                       th:href="@{|#v-storage-${storageName}|}"
                       th:aria-controls="|v-storage-${storageName}|"
                       class="nav-link active" data-toggle="pill" role="tab" aria-selected="true">
                        Storage
                    </a>

                    <!-- validation file contents -->
                    <a th:id="|v-file-tab-${storageName}|"
                        th:href="@{|#v-file-${storageName}|}"
                        th:aria-controls="|v-file-${storageName}|"
                        class="nav-link" data-toggle="pill" role="tab" aria-selected="false">
                        Validation File
                    </a>
                </div>
            </div>

            <!-- content to display -->
            <div class="col-9">
                <div class="tab-content" th:id="|v-content-${storageName}|">
                    <div class="tab-pane fade show active" th:id="|v-storage-${storageName}|"
                         role="tabpanel"
                         th:aria-labelledby="|v-storage-tab-${storageName}|">
                        <!-- look into replacing this with a grid setup so we don't get complaints about divs-->
                        <table class="table">
                            <tbody>
                            <div th:replace="fragments/storage :: list-item(head='Path', content=${storage.path})"></div>
                            <div th:replace="fragments/storage :: list-item(head='Files', content=${storage.totalFiles})"></div>
                            <div th:replace="fragments/storage :: list-item(head='Size', content=${formatter.format(storage.size)})"></div>

                            <!-- inactive + modal -->
                            <tr th:replace="fragments/storage :: set-inactive"></tr>
                            </tbody>
                        </table>
                    </div>

                    <!--/*@thymesVar id="file" type="org.chronopolis.rest.entities.DataFile"*/-->
                    <div class="tab-pane fade" role="tabpanel"
                         th:with="file=${storage.file}"
                         th:id="|v-file-${storageName}|"
                         th:aria-labelledby="|v-file-tab-${storageName}|">
                        <table class="table">
                            <tbody>
                               <div th:replace="fragments/storage :: list-item(head='Filename', content=${file.filename})"></div>
                               <div th:each="fixity : ${file.fixities}">
                                   <div th:replace="fragments/storage :: list-item(head=${fixity.algorithm}, content=${fixity.value})"></div>
                               </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- should move into a separate file -->
<tr th:fragment="list-item (head, content)">
    <td th:text="${head}" scope="row"
        class="text-white text-center bg-secondary w-25"></td>
    <td th:text="${content}" class="bg-light"></td>
</tr>

<tr th:fragment="set-inactive" th:if="${rw}">
    <td class="bg-danger text-white text-center w-25" data-toggle="modal" style="cursor: pointer;"
        th:data-href="@{|${bag.id}/storage/${storage.id}/activate|}"
        th:data-message="|Warning: Proceeding will remove the active storage object|"
        data-target="#rm-modal">
        Set Inactive
    </td>
</tr>
</html>
