<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet">
    </link>

</head>
<body>
<div th:fragment="table" class="user-table" style="box-sizing: border-box">
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Username</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        <!--@thymesVar id="users" type="Collection<Authority>"-->
        <!--@thymesVar id="user" type="org.chronopolis.ingest.repository.Authority"-->
        <tr th:each="user: ${users}">
            <td th:text="${user.username}"></td>
            <!-- <td th:text="${user.isEnabled()}"></td> -->
            <!-- <td><label th:each="role: ${user.getAuthorities()}" th:text="${role}"></label></td> -->
            <td th:text="${user.authority}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
