<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>Chronopolis Ingestion Service</title>
</head>
<body style="background-color: #f7f7f7 !important">
<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-3">
    <h4>Add Bag</h4>

    <div class="card p-2">
        <form enctype="application/json" method="post" name="ingest">
            <div class="form-group row">
                <label for="bag-name" class="col-4 col-form-label">Bag Name</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="name" placeholder="bag-name" id="bag-name"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="depositor-name" class="col-4 col-form-label">Depositor</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="depositor" placeholder="depositor" id="depositor-name"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="location" class="col-4 col-form-label">Location</label>
                <div class="col-8">
                    <input class="form-control" type="text" name="location" placeholder="depositor-name/bag-name" id="location"/>
                </div>
            </div>

            <!--@thymesVar id="nodes" type="List<Node>"-->
            <!--@thymesVar id="node" type="org.chronopolis.rest.entities.Node"-->
            <fieldset class="form-group row">
                <legend class="col-form-legend col-sm-4">Replicate To</legend>
                <div class="col-sm-10" th:each="node: ${nodes}">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" name="replicatingNodes" th:value="${node.username}"/>
                        <p th:text="${node.username}"></p>
                    </label>
                </div>
            </fieldset>

            <input class="btn btn-primary" type="submit" value="Create Bag"/> <!-- onclick="submit()"/> -->
        </form>
    </div>
</div>
<div th:replace="layout :: foot"></div>
</body>
</html>