<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
    <title>Chronopolis Ingestion Service</title>
</head>
<body>
    <header th:replace="layout :: header"></header>
    <div th:replace="layout :: left"></div>
    <div class="content">
    <form enctype="application/json" method="post" name="ingest">
        <div><label>Bag Name: <input type="text" name="name" placeholder="bag-name"/></label></div>
        <div><label>Depositor: <input type="text" name="depositor" placeholder="depositor-name"/></label></div>
        <div><label>Location: <input type="text" name="location" placeholder="depositor-name/bag-name"/></label></div>

        <!--@thymesVar id="nodes" type="List<Node>"-->
        <!--@thymesVar id="node" type="org.chronopolis.rest.entities.Node"-->
        <div th:each="node: ${nodes}">
            <div><label th:text="'Replicate to ' + ${node.username}"/><input type="checkbox" name="replicatingNodes" th:value="${node.username}"/></div>
        </div>
        <input type="submit" value="Create Bag"/> <!-- onclick="submit()"/> -->
    </form>
        </div>
</body>
</html>