<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chronopolis Ingestion Service</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <script src="webjars/jquery/2.1.1/jquery.min.js"/>
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../css/nav.css"
          th:href="@{/css/nav.css}"
          rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="container-fluid">
    <div th:include="layout :: left"></div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <form enctype="application/json" method="post" name="replication">
        <!--@thymesVar id="bags" type="List<Bag>"-->
        <!--@thymesVar id="bag" type="org.chronopolis.rest.models.Bag"-->
        <select name="bagId" id="bagId">
            <option th:each="bag: ${bags}"
                    th:value="${bag.id}" th:text="${bag.depositor} + '/' + ${bag.name}">
            </option>
        </select>


        <!--@thymesVar id="nodes" type="List<Node>"-->
        <!--@thymesVar id="node" type="org.chronopolis.rest.models.Node"-->
        <select name="nodeId" id="nodeId">
            <option th:each="node: ${nodes}"
                    th:value="${node.id}" th:text="${node.username}">
            </option>
        </select>
        <input type="submit" value="Create Replication"/> <!-- onclick="submit()"/> -->
    </form>
        </div>
</div>
</body>
</html>