<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    layout:decorator="layout">
    <body>
        <header class="navbar navbar-fixed-top navbar-expanded navbar-chron" th:fragment="head">
                <div class="container">
                    <div class="header-logo">
                        <a th:href="@{/}">
                            <h3 style="margin-left: 10px; padding-left: 10px;">Chronopolis</h3>
                        </a>
                    </div>
            </div>
        </header>
        <div class="sidebar" th:fragment="left" >
            <!--<div class="col-sm-3 col-md-2 sidebar">-->
                <ul class="nav nav-sidebar">
                    <li><a href="/login"
                           th:href="@{/login}">Log In</a></li>
                    <li><a href="/bags"
                           th:href="@{/bags}">Bags</a></li>
                    <li><a href="/bags/add"
                           th:href="@{/bags/add}">Add Bag</a></li>
                    <li><a href="/replications"
                        th:href="@{/replications}">Replications</a></li>
                    <li><a href="/replications/add"
                           th:href="@{/replications/add}">Add Replication</a></li>
                    <li><a href="/users"
                           th:href="@{/users}">Users</a></li>
                </ul>
            <!--</div>-->
        </div>
        <div th:fragment="foot">
            <footer>
            <p>Chron/DPN Infos</p>
            </footer>
        </div>
    </body>
</html>
