<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head">
</head>
<body>
<nav th:replace="layout :: navbar"></nav>
<!-- Taken from https://spring.io/guides/gs/securing-web/ -->
<div class="d-flex flex-column align-items-center m-3">
    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div class="form-group row">
            <label for="username" class="col-4 col-form-label">User Name</label>
            <div class="col-8">
                <input class="form-control" type="text" name="username" id="username"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-4 col-form-label">Password</label>
            <div class="col-8">
                <input class="form-control" type="password" name="password" id="password"/>
            </div>
        </div>
        <input class="btn btn-primary" type="submit" value="Sign In"/>
    </form>
</div>
<div th:replace="layout :: foot"></div>
</body>
</html>