<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: head">
    <title>Chronopolis Ingestion Service</title>
</head>
<body style="background-color: #f7f7f7 !important" role="document">

<nav th:replace="layout :: navbar"></nav>
<div class="d-flex flex-column align-items-center m-2">

    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a data-toggle="tab" class="nav-link show active" aria-expanded="true" href="#info">User Information</a>
                </li>

                <li class="nav-item">
                    <a data-toggle="tab" class="nav-link" aria-expanded="true" href="#update">Update Password</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a data-toggle="tab" class="nav-link" href="#add">Add user</a>
                </li>
            </ul>
        </div>
        <div class="card-block">
            <div id="tab-content" class="tab-content">
                <div id="info" class="tab-pane fade active show" th:include="fragments/users :: table"></div>
                <div id="update" class="tab-pane fade">
                    <form enctype="application/json" method="post" name="ingest" action="/users/update"
                          th:action="@{/users/update}">

                        <div class="form-group row">
                            <label for="current-password" class="col-4 col-form-label">Current Password</label>
                            <div class="col-8">
                                <input class="form-control" type="password" id="current-password" name="oldPassword"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="new-password" class="col-4 col-form-label">New Password</label>
                            <div class="col-8">
                                <input class="form-control" type="password" id="new-password" name="newPassword"/>
                            </div>
                        </div>

                        <input type="submit" class="btn btn-primary btn-small" value="Update Password"/>
                    </form>
                </div>

                <div id="add" class="tab-pane fade" sec:authorize="hasRole('ROLE_ADMIN')">
                    <form enctype="application/json" method="post" name="ingest" action="/users/add"
                          th:action="@{/users/add}">
                        <div class="form-group">
                            <div><label>Username <input type="text" class="form-control" name="username"
                                                        placeholder="node-name"/></label></div>
                            <div><label>Password <input type="text" class="form-control" name="password"
                                                        placeholder="temp-password"/></label></div>
                            <div><label>Role <select name="role">
                               <option th:each="role : ${T(org.chronopolis.ingest.models.UserRole).values()}"
                                    th:value="${role}"
                                    th:text="${role}">
                               </option>
                            </select></label></div>
                            <div><label>Is a Node <input type="checkbox" name="node"/></label></div>
                        </div>
                        <input type="submit" class="btn btn-primary btn-small" value="Create User"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--<div id="info" class="d-flex justify-content-center" th:include="fragments/users :: table"></div>-->
    <div th:replace="layout :: foot"></div>
</div>
</body>
</html>